<%- include("header", {title: title}); %>

<h1>Account details</h1>

<p>This is details for account <%= account %>.</p>

<table class="table-accounts">
    <thead>
        <tr>
            <th class="w-50 text-center">ID</th>
            <th class="w-100 text-center">Name</th>
            <th class="w-100 text-center" text-right>Balance</th>
        </tr>
    </thead>
    <tbody>
        <% for (const row of res) { %>
            <tr>
                <td class="text-right"><%= row.id %></td>
                <td class="text-center"><%= row.name %></td>
                <td class="text-right"><%= row.balance.toFixed(1) %></td>
            </tr>
        <% } %>
    </tbody>
</table>
<p>
    <a href="/bank/index">Index</a>
</p>
<%- include("footer"); %>