<%- include("header", {title: title}); %>

<div class="content">
    <h1>Product details</h1>

    <p>This is details for product : <%= product %>.</p>

    <table class="table-product">
        <thead>
            <tr>
                <th class="w-100 text-center">ID</th>
                <th class="w-100 text-center">Name</th>
                <th class="w-100 text-center">Price</th>
                <th class="w-300 text-center">Description</th>
                <th class="w-200 text-center">Category</th>
                <th class="w-200 text-center">Amount in inventory</th>
            </tr>
        </thead>
        <tbody>
            <% for (const row of res) { %>
                <tr>
                    <td class="text-left"><%= row.product_id %></a></td>
                    <td class="text-left"><%= row.name %></td>
                    <td class="text-right"><%= row.price.toFixed(2) %></td>
                    <td class="text-left"><%= row.description %></td>
                    <td class="text-left"><%= row.category %></td>
                    <td class="text-right"><%= row.amount %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <p>
        <a href="/eshop/index">Index</a>
    </p>
</div>

<%- include("footer"); %>