<%- include("header", {title: title}); %>

<div class="container">
    <h1>Create new order line</h1>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form method="post" action="/eshop/order-detail/create">
                <div class="row mb-3">
                    <label for="order_id" class="col-md-3 col-form-label text-right">Order ID:</label>
                    <div class="col-md-9">
                        <input type="text" name="order_id" id="order_id" class="form-control" value="<%= order_id %>" readonly>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="product_id" class="col-md-3 col-form-label text-right">Product Name:</label>
                    <div class="col-md-9">
                        <select name="product_id" id="product_id" class="form-control">
                            <% for (const product of products) { %>
                                <option value="<%= product.product_id %>"><%= product.name %> (Amount In Stock: <%= product.amount %>)</option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="quantity" class="col-md-3 col-form-label text-right">Quantity:</label>
                    <div class="col-md-9">
                        <input type="number" name="quantity" id="quantity" class="form-control" value="1" required min="1">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="" class="col-md-3 col-form-label text-right"></label>
                    <div class="col-md-9">
                        <button class="btn btn-primary">Create</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<%- include("footer"); %>